.hanapin-landing-page {
   position: relative;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   margin: 0;
   padding: 0;
   font-family: 'Arial';
   background-size: cover;
   background-repeat: no-repeat;
   background: cover;
}

.hanapin-text-container {
   position: absolute;
   top: 270px;
   left: 436px;
}

.hanapin-title {
   margin-bottom: 20px;
   left: 4px;
}

.hanapin-title h1 {
   font-size: 45px;
   color: #AFB0CE;
   margin-bottom: 0;
   font-weight: lighter;
}

.hanapin-title h1 span {
   color: #BA96DD;
}

.hanapin-subtitle p {
   font-size: 58px;
   color: #F5BEDB;
   font-weight: bold;
   margin: 0;
   text-align: left;
   
}

.hanapin-description p {
   font-size: 16px;
   text-align: justify;
   font-family: Arial;
   color: #AFB0CE;
   font-weight: lighter;
   margin-top: 20px;
   left: 436px;
}

.hanapin-button-container {
   position: absolute;
   top: 630px;
   left: 436px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.hanapin-button-container button {
   width: 275px;
   height: 74px;
   font-family: Arial;
   border-radius: 12px;
   font-size: 30px;
   font-weight: bold;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.2s ease;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hanapin-button-container button:hover {
   transform: scale(1.05);
}

.hanapin-button-container button:active {
   transform: scale(0.95);
}

.hanapin-login-button {
   background-color: #F0D5E3;
   color: white;
}

.hanapin-register-button {
   background-color: #BA96DD;
   color: white;
}
